* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: radial-gradient(circle at 0% 50%, #50a7c2, transparent 50%),
                radial-gradient(circle at 100% 50%, #b84a8f, transparent 50%),
                radial-gradient(circle at 50% 100%, #8dbd5a, transparent 50%);
    background-color: #7499ac;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #0e0e0e;
    padding: 25px 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline;
    margin: 0 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}

.main-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.player-card {
    background-color: #000;
    width: 300px;
    padding: 40px 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    box-shadow: 0 10px 40px rgba(0,0,0,0.4);
}

.play-button {
  width: 65px;
  height: 65px;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.play-button.pause .icon {
    all: unset !important;
    display: flex !important;
    justify-content: space-between !important;
    width: 20px !important;
    height: 24px !important;
    background: transparent !important;
    border: none !important;
    clip-path: none !important;
}

.play-button .icon {
     all: unset !important;
    display: block !important;
    width: 22px !important;
    height: 24px !important;
    background-color: #000 !important;
    margin-left: 5px !important;
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%) !important;
}

.play-button.pause .icon::before {
    content: "";
    width: 7px;
    height: 100%;
    background-color: #000;
}

.play-button.pause .icon::after {
    content: "";
    width: 7px;
    height: 100%;
    background-color: #000;
}

@keyframes breathe {
  0%, 100% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -50%) scale(1.1); }
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 95%;
    transform: translate(-50%, -50%);
    background: conic-gradient(
     #0099ff 0% 25%,
     #00ffcc 25% 50%,
     #ccff00 50% 75%,
     #ff0055 75% 100%
  );
    border-radius: 20px;
    filter: blur(10px);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.player-card:has(.play-button.pause) .ring {
    opacity: 1;
    animation: breathe 1.5s ease-in-out infinite;
}

.player-card {
    position: relative;
    overflow: visible;
    background-color: #000 !important;
    width: 320px;   
    padding: 30px;  
    border-radius: 20px;
    margin: 0 auto; 
}

.progress-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #0099ff 50%, white 50%);
    border-radius: 10px;
    position: relative;
}

.progress-dot {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.navbar ul li a.active {
    background-color: white !important;
    color: black !important;
    padding: 5px 15px;
    border-radius: 5px;
}

